:root{
  --gray: rgb(90, 90, 90);
  --gray-light: rgb(150, 150, 150);
  --gray-lighter: rgb(200, 200, 200);
  --gray-lightest: rgb(240, 240, 240);

  --red: rgb(189, 18, 18);
  --red-light: rgb(232, 68, 68);


  --todo-container-bg: rgb(247, 247, 247);

  --custom-padding-y: 0.8rem;
  --custom-padding-x: 0.4rem;

  --custom-transition: ease 0.2s;

  --inset-shadow: inset 0 0 5px var(--gray);
}
/*
    UTILITIES
*/
.shadow {
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}
*.hidden{
  display: none !important;
}
.bg-gray{
  background-color: var(--gray-lightest);
}
main{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
main * {
  transition: var(--custom-transition);
}
.title{
  text-align: center;
  font-weight: bold;
  color: var(--red-light);
  opacity: 0.5;
}
*:focus {
  outline: none;
}
/*
    TODO CONTAINER
*/
#todo-container{
  max-width: 1000px;
  width: 70vw;
  background-color: var(--todo-container-bg);
  display: flex;
  flex-direction: column;
}
/*
    TODO HEADER
*/
#todo-header {
  display: flex;
}
#todo-header * {
  padding-top: var(--custom-padding-y);
  padding-bottom: var(--custom-padding-y);
  padding-left: var(--custom-padding-x);
  padding-right: var(--custom-padding-x);
  border: none;
  color: var(--gray);
}
#todo-header button {
  font-size: 2rem;
  background: none;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  opacity: 0.5;
}
#todo-header button:hover {
  opacity: 0.7;
}
#todo-header button.active {
  opacity: 0.8;
}
#todo-header button.active:hover {
  opacity: 1;
}
#todo-header input {
  flex-grow: 1;
  font-family: sans-serif;
  font-size: 1.5rem;
  background-color: var(--todo-container-bg);
}
#todo-header input::placeholder{
  opacity: 0.5;
  font-style: italic;
}
input:not([type=checkbox]):active, input:not([type=checkbox]):focus{
  -moz-box-shadow:    var(--inset-shadow);
  -webkit-box-shadow: var(--inset-shadow);
  box-shadow:         var(--inset-shadow);
}

/*
    TODO BODY
*/
#todo-body ul{
  text-decoration: none;
  list-style: none;
  padding: 0;
}
#todo-body ul li {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: var(--gray);
}
#todo-body input[type=checkbox]{
  appearance: none;
  position: relative;
  --custom-checkbox-size: 1.8rem;
  width: var(--custom-checkbox-size);
  height: var(--custom-checkbox-size);
}
#todo-body input[type=checkbox]::before{
  content:"";
  width: 100%;
  height: 100%;
  position:absolute;
  border: solid 1px var(--gray-lighter);
  border-radius: 50%;
  transition: var(--custom-transition);
}
#todo-body input[type=checkbox]:hover::before{
  border-color: var(--gray-light);
  transition: var(--custom-transition);
}
#todo-body input[type=checkbox]:checked::before{
  border-color: var(--gray);
  transition: var(--custom-transition);
}
#todo-body input[type=checkbox]:checked::after{
  content: "✓";
  color: green;
  font-size: 1.8rem;
  position: absolute;
  left: 0.25rem;
}
#todo-body input[type=checkbox]:checked~p{
  text-decoration: line-through;
  color: var(--gray-lighter)
}
#todo-body ul {
  margin: 0;
}
#todo-body ul li input[type=text], #todo-body ul li button{
  padding-top: var(--custom-padding-y);
  padding-bottom: var(--custom-padding-y);
  padding-left: var(--custom-padding-x);
  padding-right: var(--custom-padding-x);
  border: none;
  font-size: 1rem;
  color: var(--gray);
  background-color: transparent;
}
#todo-body ul li p, #todo-body ul li input[type=text]{
  flex-grow: 1;
}
#todo-body ul li:hover button {
  padding-right: 1rem;
  padding-top: 0;
  padding-bottom: 0;
  cursor: pointer;
  color: var(--red-light);
  font-size: 2rem;
  visibility: visible;
}
#todo-body ul li button{
  visibility: hidden;
}
#todo-body ul li button:hover {
  color: var(--red);
}
/*
    TODO FOOTER
*/
#todo-footer {
  display: flex;
  gap:1rem;
  padding-left: var(--custom-padding-x);
  padding-right: var(--custom-padding-x);
  color: var(--gray);
  font-size: 0.8rem;
}
#todo-footer .actions{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1.5rem;
}
#todo-footer .actions p:hover {
  cursor: pointer;
}
#todo-footer .actions p.active {
  border: 1px solid rgba(255, 0, 0, 0.2);
  border-radius: 0.2rem;
  padding: 0.2rem 0.4rem;
}
